@page "/kalkV1"

<PageTitle>Kalkulačka</PageTitle>

<h1>Základní matematické operace</h1>
<hr />

<div>
	<label>Číslo 1: <input type="number" @bind-value="cislo1"></label>
	<br />
	<label>Číslo 2: <input type="number" @bind-value="cislo2"></label>
</div>

<div class="m-3">
	<button @onclick="Soucet" class="btn btn-primary" style="width:130px">Součet (+)</button>
	<button @onclick="Rozdil" class="btn btn-success" style="width:130px">Rozdíl (-)</button>
	<button @onclick="Soucin"  class="btn btn-warning" style="width:130px">Součin (*)</button>
	<button @onclick="Podil" class="btn btn-danger" style="width:130px">Podíl (/)</button>
</div>

<div>
	<label>Výsledek: <input type="number" @bind-value="vysledek" disabled></label>
</div>

@if (chybaText != "")
{
	<div class="alert alert-danger mt-3">
		<strong>Chyba!</strong> @chybaText
	</div>
}


@code {
	private short cislo1 = 1;
	private short cislo2;
	private short vysledek;
	private string chybaText = "";

	private void Soucet()
	{
		chybaText = "";
		try
		{
			checked
			{
				vysledek = (short)(cislo1 + cislo2);
			}
		}
		catch (Exception)
		{

			chybaText = $"Došlo k přetečení. Hodnota {cislo1 + cislo2} je větší {short.MaxValue}";
		}
		
	}
	private void Rozdil()
	{
		vysledek = (short)(cislo1 - cislo2);
	}
	private void Soucin()
	{
		vysledek = (short)(cislo1 * cislo2);
	}
	private void Podil()
	{
		vysledek = (short)(cislo1 / cislo2);
	}
}
